@model List<Loja>
@{
    ViewData["Title"] = "Lista das Loja";

}

<style type="text/css">

    .Containers {
        margin: 10px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 5px #ccc;
        position: relative;
    }
    .ContainerList{
        max-height: 35vh;
        overflow-y: auto;
    }

    .loja {
        display: flex;
        justify-content: space-around;
        font-size: 105%;
        font-weight: bold;
        margin-bottom: 10px;
        background-color: #f8f9fa;
        padding: 15px;
        border-radius: 10px;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    .tableinfo{
       font-weight: normal;
    }

   .loja p {
        display: flex;
        margin: 0;
        width: 15%;
        justify-content: center;
   }
/*   #additionalFields{
        padding: 16px;
        display: none;
        margin-left: 20px;
   }*/
   .modal-label{
       top: 0px;
       left: 22px;
   }

    .btnClass {
        display: flex;
        width: 40%;
        text-decoration: none;
        background-color: #5398FF;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        align-content: center;
        justify-content: center;
    }

    .btnClass:hover {
        background-color: #e0e0e0;
    }

    .borders {
        background-color: #ebe8e8;
        padding: 15px;
        border-radius: 10px;
    }
    #openCreateLojaModal {
        font-weight: bold;
        justify-content: center;
        width: 20%;
        display: flex;
        margin: 0 auto;
    }
    .ContainerButtons{
         width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #5398FF;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .btts{
       color:#d9d9d9;
    }

    .circle:hover {
        background-color: #e0e0e0;
    }

    .btts:hover{
        opacity:0.6;

    }
    .modalSelecionado{
        margin:0 auto;
        margin-bottom: 2rem;
    }


   /* modal tamanho centro*/
    #CreateProdutos .modal-dialog {
        max-width: 900px;
        width: 90vh;
    }

    /*Estilo Modal?*/

    .file-input {
        position: absolute;
        top: -17px;
        left: 8px;
        background-color: #fff;
        padding: 5px;
        font-weight: 400;
        font-size: 14px;
        z-index: 1;
    }

    .file-input input[type="file"] {
        width: 100%;
    }

    .file-input-container {
        flex: 1;
        display:flex;
        position: relative;
        border: 2px solid #ccc;
        padding: 15px;
  
    }

    .input-container {
        width: 115%;

    }

    .file-input-wrapper {
        display: flex;
        width: 100%;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    input[type="text"], select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
        box-sizing: border-box;
    }


    .select-input-container  {
        position: relative;
        margin-right: 10px;
    }

    .remove-continer{
        border:none;
        padding: 0;
    }
    .NewProduto{
        position: absolute;
        margin-top: -37px;
        left: 24px;
        background-color: #fff;
        padding: 5px;
        font-weight: bold;
        font-size: 14px;
        z-index: 1;
    }
    .error-message {
        position: fixed;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f44336;
        color: white;
        padding: 15px;
        border-radius: 10px;
        display: none;
    }
    .sucesso-message {
        position: fixed;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: #29c739;
        color: white;
        padding: 15px;
        border-radius: 10px;
        display: none;
    }

    .modalbtn{
        margin-top: 16px;
        margin-bottom: 16px;
        width: 32%;
        height: 50px;
    }

    .formBtn {
        background-color: #5398FF;
        display: flex;
        margin: 0 auto;
        margin-bottom: 2%;
        color: #fff;
        width: 32%;
        height: 3rem;
        font-weight: 700;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        border: none;
    }
    .formBtn:hover {
        opacity: 0.8;
        transition: 1s;
    }
    .Btts-disabled
    {
        background-color: #ebe8e8;
    }
    .Btts-disabled-icon{
        color: #ccc;
    }



</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<h1 style="margin-bottom: 2rem; text-align: center; margin-top: 3rem;">@ViewData["Title"]</h1>

<div class="Containers">
    <div class="loja borders">  
        <p>Nome:</p>
        <p>Cidade:</p>
        <p>Ver Produtos</p>
        <p>Criar Produto</p>
        <p>Editar Loja</p>
        <p>Excluir Loja</p>

    </div>
    <div class="ContainerList">
        @foreach (var loja in Model)
        {
            <div class="loja tableinfo">
                <p>@loja.Nome</p>
                <p>@loja.Cidade</p>
 
                @if (@loja.Sections != null && @loja.Sections.Count > 0)
                {
              
                    <div class="ContainerButtons">
                        <a class="circle nav-link"  title="Visualizar Produtos" asp-controller="FrontStore" asp-action="Produtos" asp-route-id="@loja.Id">
                            <i class="fas fa-eye btts"></i>
                        </a>
                    </div>

                    <div class="ContainerButtons">
                        <a class="nav-link circle openCreateProdutos"  title="Adcionar Seção e Produto" data-id="@loja.Id" data-lojanome="@loja.Nome">                   
                            <i class="fa-solid fa-plus btts"></i>
                        </a>
                    </div>
              
                    <div class="ContainerButtons">    
                        <a class="circle nav-link openEditeLoja" title="Editar Loja" data-id="@loja.Id" data-lojanome="@loja.Nome">              
                            <i class="fa-solid fa-pen btts"></i>
                        </a>
                    </div>

                    <div class="ContainerButtons">
                        <a class="nav-link circle openDeleteLoja" title="Excluir Loja" data-id="@loja.Id" data-lojanome="@loja.Nome">
                             <i class="fa-solid fa-trash btts "></i>
                        </a>
                    </div>
                
        
                }
                else
                {
                <div class="ContainerButtons">
                    <a class="circle nav-link Btts-disabled"  title="Crie Produtos para visualiza-los" asp-controller="FrontStore" asp-action="Message">
                        <i class="fas fa-eye Btts-disabled-icon"></i>
                    </a>
                </div>

                <div class="ContainerButtons">
                    <a class="nav-link circle openCreateProdutos"  id="Info-teste" title="Criar Produtos" data-id="@loja.Id" data-lojanome="@loja.Nome">                                 
                        <i class="fa-solid fa-plus btts"></i>
                    </a>
                </div>

                <div class="ContainerButtons">    
                    <a class="circle nav-link openEditeLoja" title="Editar Loja" data-id="@loja.Id" data-lojanome="@loja.Nome">              
                        <i class="fa-solid fa-pen btts"></i>
                    </a>
                </div>

                <div class="ContainerButtons">
                    <a class="nav-link circle openDeleteLoja" title="Excluir Loja" data-id="@loja.Id" data-lojanome="@loja.Nome">
                            <i class="fa-solid fa-trash btts "></i>
                    </a>
                </div>
                    
                }
             
            </div>
        }
    </div>

    @*Mensagens*@
    @if (TempData["Erro"] != null)
    {
        <p id="Message" class="error-message">
            <i class="fa-regular fa-circle-xmark"  style="margin-right: 8px;"></i>
            @TempData["Erro"]
         </p>
    }
    @if (TempData["Sucesso"] != null)
    {
       <p id="Message" class="sucesso-message">
           <i class="fa-regular fa-circle-check" style="margin-right: 8px;"></i>
           @TempData["Sucesso"]
       </p>
    }

</div>



<a class="nav-link btnClass" id="openCreateLojaModal">Criar Nova Loja</a>





@await Html.PartialAsync("CreateLojaModal")
@await Html.PartialAsync("_CreateProdutosModal")
@await Html.PartialAsync("_EditeLojaModal")
@await Html.PartialAsync("_DeleteLojaModal")


@section scripts {
    <script>
        $(document).ready(function () {


            $('#openCreateLojaModal').click(function () {
                $('#createLojaModal').modal('show');
            });

                   
            $('.openCreateProdutos').click(function (e) {
                // Recupera o valor do data-id do botão clicado
                var lojaId = $(this).data('id');
                var lojaNome = $(this).data('lojanome');

                // Atualiza o valor do campo oculto
                $('#LojaId').val(lojaId);

                // Atualiza o conteúdo do span no modal
                $('#CreateProdutos #lojaId').text(lojaId);
                $('#CreateProdutosLabel').html('Adicionar Novo Produto na loja: <strong>' + lojaNome + '</strong>');


                // Atualiza o valor do input com id "InputLojaId"
                $('#InputLojaId').val(lojaId);

                // Mostra o modal
                $('#CreateProdutos').modal('show');
            });

            //Alterar Loja
            $('.openEditeLoja').click(function (e) {
                // Recupera o valor do data-id do botão clicado
                var lojaId = $(this).data('id');
                var lojaNome = $(this).data('lojanome');

                // Atualiza o valor do campo oculto
                $('#EditeId').val(lojaId);

                // Atualiza o conteúdo do span no modal
                $('#EditeProdutos #EditeId').text(lojaId);
                $('#EditeProdutosLabel').html('Editar loja: <strong>' + lojaNome + '</strong>');

                // Atualiza o valor do input com id "InputLojaId"
                $('#InputLojaIdEdite').val(lojaId);

                // Mostra o modal
                $('#EditeProdutos').modal('show');
            });


            //Alterar Excluir
            $('.openDeleteLoja').click(function (e) {
                // Recupera o valor do data-id do botão clicado
                var lojaId = $(this).data('id');
                var lojaNome = $(this).data('lojanome');

                // Atualiza o valor do campo oculto
                $('#DeleteId').val(lojaId);

                // Atualiza o conteúdo do span no modal
                $('#DeleteProdutos #DeleteId').text(lojaId);
                $('#DeleteProdutosLabel').html('Deseja deletar a loja: <strong>' + lojaNome + '</strong>');

                // Atualiza o valor do input com id "InputLojaId"
                $('#InputLojaIdDelete').val(lojaId);

                // Mostra o modal
                $('#DeleteProdutos').modal('show');
            });
  
        });

        if ($('#Message').text().trim() !== '') {
            $('#Info-teste').css('background-color', '#0d6efd');
                
            fazerPulsar();
            
            $('#Message').fadeIn().delay(3000).fadeOut(function() {
                
                $('#Info-teste').stop(true, true);

            });
        }

        function fazerPulsar() {
            $('#Info-teste').animate({
                opacity: 0.5,
            }, 500, 'linear', function() {
                $('#Info-teste').animate({
                    opacity: 1,
                }, 500, 'linear');
            });

            setTimeout(function() {
               $('#Info-teste').css('background-color', '#5398FF');
            }, 1000);
        }

        function checkOption() {
            var select = document.getElementsByClassName("secao")[0];
            var novaSecaoInput = document.getElementById("novaSecaoInput");

            if (select.value === "NovaSectionLojas") {
                novaSecaoInput.style.display = "block";
            } else {
                novaSecaoInput.style.display = "none";
            }
        }

               $('#fechar').click(function () {
                // Adicione qualquer lógica personalizada aqui

                // Fecha o modal
                $('#DeleteSection').modal('hide');
            });
         
    </script>
}




