@model List<Loja>
@{
    ViewData["Title"] = "Lista das Loja";
}

<style type="text/css">

    .Containers {
        margin: 10px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 5px #ccc;
        position: relative;
    }

    .loja {
        display: flex;
        justify-content: space-around;
        font-size: 105%;
        font-weight: bold;
        margin-bottom: 10px;
        background-color: #f8f9fa;
        padding: 15px;
        border-radius: 8px;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

   .loja p {
        display: flex;
        margin: 0;
        width: 15%;
        justify-content: center;
   }


    .btnClass {
        display: flex;
        width: 40%;
        text-decoration: none;
        background-color: #0d6efd;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        align-content: center;
        justify-content: center;
    }

    .btnClass:hover {
        background-color: #e0e0e0;
    }

    .borders {
        background-color: #ebe8e8;
        padding: 15px;
        border-radius: 8px;
    }
    #openCreateLojaModal {
        font-weight: bold;
        justify-content: center;
        width: 40%;
        display: flex;
        margin: 0 auto;
    }
    .ContainerButtons{
         width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #0d6efd;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .btts{
       color:#d9d9d9;
    }

    .circle:hover {
        background-color: #e0e0e0;
    }

    .btts:hover{
        color:#0d6efd;
    }
   

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<h1 style="margin-bottom: 2rem; text-align: center;">@ViewData["Title"]</h1>

<div class="Containers">
    <div class="loja borders">
        <p>Nome:</p>
        <p>Cidade:</p>
        <p>Ver Produtos</p>
        <p>Adcionar Produtos</p>

    </div>
    @foreach (var loja in Model)
    {
        <div class="loja">
            <p>@loja.Nome</p>
            <p>@loja.Cidade</p>
 
            @if (@loja.sections != null)
            {
              
                <div class="ContainerButtons">
                    <a class="circle nav-link" asp-controller="Loja" asp-action="Produtos" asp-route-id="@loja.Id">
                        <i class="fas fa-eye btts"></i>
                    </a>
                </div>

                <div class="ContainerButtons">
                     <a class="nav-link circle openCreateProdutos" data-id="@loja.Id">
                        <i class="fa-solid fa-pen btts"></i>
                     </a>
                </div>
                
         

            }
            else
            {
                <a class="nav-link btnClass openCreateProdutos" data-id="@loja.Id">Criar Produtos</a>
            }
             
        </div>
    }
</div>

<a class="nav-link btnClass" id="openCreateLojaModal">Criar Nova Loja</a>


<!-- Conteúdo do modal -->
<div class="modal fade" id="CreateProdutos" tabindex="-1" role="dialog" aria-labelledby="CreateProdutosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateProdutosLabel">Criar Novo Produto para Loja</h5>
            </div>

            <div class="modal-body">
                <form id="createProdutosForm" asp-action="CreateProdutos" asp-controller="Loja" method="post">
                    <input type="hidden" id="InputLojaId" name="LojaId" />

                    <label for="section">Seção:</label>
                    <input type="text" name="section" id="section" required>

                    <label for="nomeProduto">Nome Produto:</label>
                    <input type="text" name="nomeProduto" id="nomeProduto" required>

                     <label for="nomeDescricao">Descrição do Produto:</label>
                     <input type="text" name="nomeDescricao" id="nomeDescricao" required>

                     <label for="valor">Valor:</label>
                     <input type="text" name="valorInput" id="valor" required>

                    <button type="submit">Criar Loja</button>
                </form>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("CreateLojaModal")


@section scripts {
    <script>
        $(document).ready(function () {
            $('#openCreateLojaModal').click(function () {
                $('#createLojaModal').modal('show');
            });

            $('.openCreateProdutos').click(function (e) {
                // Recupera o valor do data-id do botão clicado
                var lojaId = $(this).data('id');

                // Atualiza o valor do campo oculto
                $('#LojaId').val(lojaId);

                // Atualiza o conteúdo do span no modal
                $('#CreateProdutos #lojaId').text(lojaId);

                // Atualiza o valor do input com id "InputLojaId"
                $('#InputLojaId').val(lojaId);

                // Mostra o modal
                $('#CreateProdutos').modal('show');
            });
  
        });
    </script>
}


