@model Usuario

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">

   Nome: <input type="text" name="Nome"  asp-for="@Model.Nome"/>
    SobreNome: <input type="text" name="SobreNome"  asp-for="SobreNome" />
    <h1>@Model.Nome</h1>
    <h1>@Model.SobreNome</h1>
    <h1>@Model.Email</h1>
    @if (Model.Habilidades != null)
    {
            <partial name="_Habilidade" model="@Model.Habilidades" />

    }

    <b>@ViewBag.Autenticado</b>

    @if (ViewBag.Autenticado)
    {
            <p>Autencidado</p>
    }
    else
    {
            <p> Nao Auteticado</p>
    }

    <i>@ViewData["NomeCompleto"]</i>
    @if (TempData["Mensagem"] != null)
    {
            <h3>@TempData["Mensagem"]</h3>
    }


    <hr>

    <input  type="submit" value="Postar"/>
</form>

    <a asp-controller="" asp-action="" asp-route-id="">Deletar</a>