@model List<Usuario>

@{
    ViewData["Title"] = "MJV - Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<partial name="_Mensgem" />


<p>Use this page to detail your site's privacy policy.</p>

@{
    var hora = DateTime.Now;
}
<p> La hora es: @hora.ToShortDateString()</p>

<table>
    <tr>Nome</tr>
    <tr>Nome</tr>


@foreach(var usuario in Model)
{
    <tr>

        <td>@usuario.Nome</td>
        <td><@usuario.SobreNome></td>

        <td><a asp-controller="Home" asp-action="Deletar" asp-route-id="@usuario.Id">Deletar</a></td>

              <td><a asp-controller="Home" asp-action="Deletar1" asp-route-nome="@usuario.Nome">Deletar</a></td>
                   
    </tr>
    
  
    <partial name="_Habilidade" model="@usuario.Habilidades"/>
    }
</table>